
/*NavBar*/
.navbar{
    border-bottom: 1px solid#333;
    margin-bottom: 20px;

}
.navbar-nav{
    margin: auto;

}
.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a-nav-link{

    color: #333;
    letter-spacing: 3xp;
}
/* botão de adicionar*/
.add-div{
    background-color: rgb(0, 105, 224);
    cursor:pointer;
    display: inline-block;
    color: #ccc;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;

}
.fas.fa-plus{
    color: #f5f5f5;
    margin-right: 10px;
    margin-left: 5px;
}
/* Search*/
.fas.fa-search{
    position:absolute;
    top: 12px;
    right: 26px;
}
.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}
/*Botão para adicionar tarefa*/
#add-link{
    text-decoration: none;
    
}
/*Lista de tarefas */
.list-div{
    padding: 0;
}

.task-item{
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
}

.fas.fa-trash, .fas.fa-edit{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
} 
.fas.fa-trash{
    color: #db1e47;
}
.fas.fa-edit{
    color: #13c43f;
}

/*Rodapé */
footer{
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
    padding-left: 0;
}
footer p{
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}
